*{
--primary: #f20000;
--primary-hover: #ec1a2d;
--primary-dark: #b30000;
--primary-light: #fa9797;
--secondary: #1f1f1f;
--secondary-90: #1f1f1fdd;
--secondary-70: #1f1f1faa;
--secondary-50: #1f1f1f80;
--secondary-30: #1f1f1f44;
--red: #f20000;
--black: #101010;
--black-50: #10101080;
--white: #fafafa;
--white-90: #fafafadd;
--white-50: #fafafa80;
--white-30: #fafafa44;
--card-color: #cacaca;
--text-color: #000;
--selection: #c7e7f6;
--selection-50: #c7e7f680;
--selection-30: #c7e7f644;
--success: #e2f8e7;
--success-50: #4e955e80;
--success-30: #4e955e44;
--info: #4595b3;
--info-50: #71bbd680;
--info-30: #71bbd644;
--horario: #e09044;
--darktheme: rgb(43, 42, 51);

font-family: 'Poppins', sans-serif;

box-sizing: border-box;
margin: 0;
padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin-bottom: 0px;
    padding: 20px;
    margin-top: 155px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the content */
    flex-wrap: wrap;
    height: 100vh;
    column-count: 2; /* Set the number of columns */
    column-gap: 20px; 
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center; /* Add this line to vertically center the content */
    flex-wrap: wrap;
    height: 100vh; /* Add this line to set the container height to full viewport height */
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 50px;  
    text-align: center;
  
    
}

.infoPartido:hover{
border-style: ridge;
border-color: red;
border-width: 1px;
border-radius: 20px;
}
.infoPartido {
    background-color: #ffffff;
    border-radius: 18px;
    border: solid 1.5px #C4C4C4;
    box-shadow: 0 1px 1px 0 rgba(41, 41, 41, 0.45);
    margin: 10px;
    padding: 20px;
    width: calc(50% - 40px);
    max-width: 500px;
    box-sizing: border-box;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 0px;
    
}

.topSquare {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
    background-color: #708090;
    width: 108.8%;
    height: 60px;
    margin-left: -20px;
    margin-right: 10;
    border-top-right-radius: 13px;
    border-top-left-radius: 18.6px;    
}
#squareLpf{
    background-color: var(--black);
}

.fechaHora {
    
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
    
}

.numeroDia {
    font-size: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 1px;
    position:absolute;
    font-weight: 600;
    
}
.dia{
    position: absolute;
    margin-bottom: 9px;
    margin-top: 10px;
    margin-left: 71px;
}
.hora{
    position: absolute;
    margin-top: 29.5px;
    margin-left: 71px;

}

.AmbosEscudos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 1%;
    
}

.escudo {
    max-width: 60px;
    max-height: 70px;
    min-width: 70px;
    min-height: 70px;
    margin: 0 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.vs {
    font-size: 18px;
    margin: 0 10px;
}

h5 {
    font-size: 16px;
    font-weight:bold ;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 0px;
    
    
}

.guion{
    text-align: center;
}
.estadio {
    font-size: 14px;
    color: #666666;
    margin-bottom: 1px;
    text-align: center;
    display: inline-block;
}



.resultado {
    width: 40px;
    margin-right: 5px;
}


.torneo{
    max-width: 40px;
    margin-top: 6px;
    
    margin-left: 302px;
    text-align:center;
    
}
.nombreTorneo{
    align-items: flex-end;
    margin-top: 1.8em;
    padding-right: 10px;
    font-size: 13px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.contenedorTorneo{
    margin-bottom: 100px;
}

.equipos{
    display:inline-block;
    text-align:left;
    margin-left:11.4%;
    margin-top:30px;
    margin-bottom: 5px;
}

.separador{
    margin-top: 10px;
    width: 100%;
    height: 3px;
    margin-bottom: 1.4rem;
    background: linear-gradient(90deg, rgb(0, 0, 0) 3%, rgb(139, 30, 30) 69%, rgb(210, 10, 10) 100%);
}
.prediccion{  
    text-align: center;
}

.inputs{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.resultado1 {
    width: 35px;
    height: 35px;
    margin-right: 100px;
    border-color: var(--primary-hover);
    text-align: center;
    font-size: 1.7em;
}
.resultado2{
    width: 35px;
    height: 35px;
    margin-left: 100px;
    border-color: var(--primary-hover);
    text-align: center;
    font-size: 1.7em;
}


input:focus {
    outline: none;
    border-color: var(--primary);
    border-style: solid;
}
#lpf{
    margin-right: 5px;
    margin-left: 5px;
    color: var(--white);
}
#imgLpf{
    margin-top: 10px;
    margin-left: 397px;
}



.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.topScreen {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.dark-mode .topScreen {
    background-color: var(--primary-dark);
}
nav{
    position: fixed;
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px; /* Set the height of the navbar as needed */
    background-color: var(--primary-dark); /* Set the background color of the navbar as needed */
  }



.dark{
    width: 85px;
    position: absolute;
    color: white;
    background-color: #1a1a1a;
    border-style: none;
    border-width: .8px;
    cursor:pointer;
    border-radius: 80px;
    margin-left: 15px;
    margin-top: -15px;
}
.darkModeImage{
    position: absolute;
    width: 21px;
    border-radius: 200px;
    right:0;
    margin-top: 17px;
    margin-right: 130px;
}

.dark:hover{
    border-style: solid;
    border-color: var(--primary-hover);
}

.dark-mode .dark{
    background-color: white;
    color: black;
}

.dark-mode .resultado1{
    background-color: #1f1f1f;
    color: white;
}
.dark-mode .resultado2{
    background-color: #1f1f1f;
    color: white;
}

.dark-mode #squareLpf  {
 background-color: white;
 color:black;
}
.dark-mode .dia{
    color: black;
}
.dark-mode .hora{
    color: black;
}
.dark-mode .numeroDia{
    color: black;
}
.dark-mode .nombreTorneo{
    color: black;
}
.dark-mode #lpf{
    color: black;
}
.dark-mode .topSquare{
    background-color: var(--horario);
}
.dark-mode .menu{
    background-color:var(--primary-hover);
    
}
.dark-mode ul li a{
    color: white;
}

#calendarioNavBar{
   
    
    margin-left: 10px;
    margin-top: -3px;
    font-size: 3rem;
    font-family: "Vina Sans";
    font-style: oblique;
    

    color: var(--white-90);
    
}
.escudoCalendario{
    width: 40px;
    margin-left: 0px;
  
}

.listIcon{
   padding: 0px;
   width: 50px ;
   height: 50px;
   margin-top: 10px;
   margin-bottom: -10px;
   
}

.listIcon:hover{
    cursor: pointer;
    transform: scale(.8);    
}
.linea1 , .linea2 , .linea3{
    width: 35px;
    height: 4px;
    background-color: white;
    margin-top: 8px;
    margin-left: 10px;
    
}
.menu {
    position: absolute;
    margin-left: 10px;
    margin-top: 130px;
    left: 0;
    width: 420px;
    height: 100%;
    background-color: white;
    z-index: 9999;
    transition: background-color 0.3s ease;
    
  }

  #btnAddInactive:hover{
    cursor: pointer;
  }
  
  /* Reset default styles for the list */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: "poppins";
}



/* Style the list items */
 ul li {
  display: inline-block;
  margin-right: 10px;
}

a{
    margin-top: 5px;
    margin-left: 15px;
    position: flex
}

/* Style the links */
 ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

/* Change the link background color on hover */
 ul li a:hover {
  background-color: #333;
  color: #fff;
}
  


.inactive{
    display: none;
}
.meses{
    position: inherit;
    text-align: center;
    
}
.mesesBtn{
    margin-right: 15px;
    width: 4.5em;
    height: 3em;
    background-color: white;
    border-style: none;
    color: var(--primary-hover);
    
}

.mesesBtn:hover{
    border-style: solid;
    border-color: var(--primary-hover);
    
    border-width: .15em;
    cursor: pointer;
}
.mesesBtn.clicked{
    border-style: solid;
    border-color: var(--primary-hover);
}
.headerMes{
    text-align: center;
    font-family: "poppins";
    font-weight: 500;
    font-size: 1.5em;
}


.hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: var(--white-90);
    transition: transform 0.3s ease-out;
  }
  
  .hamburger-menu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  

  #btnAddInactive.clicked{
    background-color: #333;
    color: white;
  }
  #btnTorneoLpf.clicked{
    background-color: #333;
    color:white;
  }

  .alertMessage{
    font-weight: bold;
    color: white;
    display: none;
  position: fixed;
  top: 14%;
  left: 3%;
  transform: scale(1);
  background-color: var(--primary-hover);
  padding: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  }

@media screen  and (max-height: 730px) {
    .topScreen{
        margin-top: 50px;
    }
    
}

                /*AVERAGE DEVICES*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .infoPartido {
        width: calc(100% - 40px);
    }
    #calendarioNavBar{
        font-size: 2em;
    }
    .body{
        margin-top: 100px;
    }
}
                /*SMALL DEVICES*/

@media screen and (max-width: 360px){
    .infoPartido {
        width: 348px;
        height: 398px;        
        margin: 14px 14px 14px 14px;
        text-align: center;
    }
    #calendarioNavBar{
        font-size: 28px;
        margin-top: px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainContainer{
        margin-top: -309px;
        transform: scale(0.8);
    }
    .topScreen{
        margin-top: -71px;
        width: 110%;
        margin-left: -18px;
    }
    .body{
        padding-top: 50px;
    }
    .equipos{
        margin-left: 30px;
        font-size: 14px;
        text-align: center;
    }
    h5{
        justify-content: center;
        display: inline-block;
        font-size: 16px;
    }
    .estadio{
        text-align: right;        
    }
    .contenedorTorneo{
        margin-left: -50px;
    }
    .nombreTorneo{
        margin-right: 5px;
    }
    .topSquare{
        width: 345.8px;
        border-top-right-radius: 18.7px;
        border-top-left-radius: 18.7px;
        font-size: 1em;
    }
    .listIcon{
        margin-top: -2px;
        margin-left: 5px;
    }
    .escudoCalendario{
        margin-right: 10px;
        margin-top: 5px;
    }
    .torneo{
        margin-left: 200px;
        margin-right: 4px;
    }
    .mayo{
        text-align: center;
    
    }
    .junio{
      text-align: center;
    
    }
    .julio{
        text-align: center;
    
    }
    #imgLpf{
        margin-left: 320px;
    }
    .guion{
        margin-left: 1px;
    }
   .meses{
    margin-top: 20px;
   }



  
    

}
@media only screen and (min-width: 361px) and (max-width: 480px) {
    .infoPartido {
        width: 348px;
        height: 398px;        
        margin: 14px 14px 14px 14px;
        text-align: center;
    }
    #calendarioNavBar{
        font-size: 28px;
        margin-top: px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mainContainer{
        margin-top: -309px;
        transform: scale(1);
    }
    .topScreen{
        position: absolute;
        margin-top: 29px;
        width: 110%;
        margin-left: -20px;
        transform: scale(1);
    }
    .meses{
        margin-top: 150px;
    }
    .body{
        padding-top: 50px;
    }
    .equipos{
        margin-left: 30px;
        font-size: 14px;
        text-align: center;
    }
    h5{
        justify-content: center;
        display: inline-block;
        font-size: 16px;
    }
    .estadio{
        text-align: right;        
    }
    .contenedorTorneo{
        margin-left: -50px;
    }
    .nombreTorneo{
        margin-right: 5px;
    }
    .topSquare{
        width: 345.8px;
        border-top-right-radius: 18.7px;
        border-top-left-radius: 18.7px;
        font-size: 1em;
    }
    .listIcon{
        margin-top: -2px;
        margin-left: 5px;
    }
    .escudoCalendario{
        margin-right: 10px;
        margin-top: 5px;
    }
    .torneo{
        margin-left: 200px;
        margin-right: 4px;
    }
    .mayo{
        text-align: center;
    
    }
    .junio{
      text-align: center;
    
    }
    .julio{
        text-align: center;
    
    }
    #imgLpf{
        margin-left: 320px;
    }
    .guion{
        margin-left: 1px;
    }
    


.hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: var(--white-90);
    transition: transform 0.2s ease-out;
  }
  
  .hamburger-menu.open .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  
}


@media only screen and (min-width: 361px) and (max-width: 440px) {
.hamburger-menu{
    margin-left: 40px;
}
#calendarioNavBar{
    font-size: 1.4em;
}
.escudoCalendario{
    margin-right: 28px;
}
.menu{
    transform: scale(.8);
}
.hamburger-menu {
    display: inline-block;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: var(--white-90);
    transition: transform 0.2s ease-out;
  }
  
  .hamburger-menu.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-menu.open .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}
@media only screen and (min-width: 482px) and (max-width:607px){
    .torneo{
        margin-left: 280px;
    }
    .topSquare{
        width: 109%;
        border-top-right-radius: 18.9px;
        border-top-left-radius: 18.9px;
    }
}







